/* NAVBAR */
nav{
	background: transparent;
	height: 0;
	position:absolute;
	ul{
		margin-top:5%;
		margin-left:25%;
		a{
			font-family: 'Nunito', sans-serif;
			font-size:18px;
			/*border-radius: 15px;*/
			padding:10px 20px;
			
		}
	}
}
/* SECCION 1: HOME */
.sec-1{
	background: url('../../dist/img/bg1.jpg');
	background-size: cover;
	background-repeat:no-repeat;
	width: 100%;
	height: 700px;
	background-attachment:fixed;
	/* position:relative;*/
	z-index:-1;
	font-family: 'Nunito', sans-serif;
	.main-text{
		top: 250px;
		position:absolute;

		h1{
			font-size:40px;
			color:#fff;
		}
		p{
			font-size:16px;
			margin-bottom:25px;
			color:#fff;
		}
	}
}

/* SECCION 2: REPRESENT YOUR LIFE */

.sec-2{
	padding: 50px 40px 0;
	background-color: #F2F4F6;
	margin-bottom: 0;
	.info{
		padding-left: 63px;
		h6{
			color: #26a69a;
			font-family: 'Nunito', sans-serif;
			font-size:16px;
		}
			p{
				margin-top:35px;
				font-family: "Varela Round", sans-serif;
			}
	}
	.img-phone{
		background: url('../../dist/img/hand.png');
		background-size: cover;
		background-repeat: no-repeat;
		background-position: top;
		padding:200px;
	}
}

/* FOOTER */

.footer-text{
		padding-left: 67px;
		margin-bottom: 0;
		p{
			font-family: "Varela Round", sans-serif;
			a{
				color:black;
			}
			span{
				color: #26a69a;
			}
		}
}